---
ip: "192.168.10.10"
memory: 2048
cpus: 2
provider: virtualbox
name: quality-checker-vm
authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: /workspcace/quality-checker-api
      to: /var/www/quality-checker-api
      type: "nfs"
sites:
    - map: quality-checker.local
      to: /var/www/quality-checker-api

databases:
    - homestead

features:
    - mariadb: true
    - ohmyzsh: false
    - webdriver: false

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
